<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<div th:fragment="included">
    <!-- Left side column. contains the logo and sidebar -->
    <header class="main-header" th:replace="fragments/header :: topbar">
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar"  th:replace="fragments/header :: leftsidebar">
    </aside>
</div>
<div th:fragment="descriptions">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 th:text="${h1}">
            Participants List
            <!--<small>all collected datas</small>-->
        </h1>
        <ol class="breadcrumb">
            <li><a href="" th:href="@{/index}"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#" th:text="${package}">Report </a></li>
            <li class="active" th:text="${page}">Participants List</li>
        </ol>
    </section>
</div>
<div th:fragment="scripts">
    <script src="plugins/jquery/jquery.min.js" th:src="@{/plugins/jquery/jquery.min.js}"></script>

    <!-- Bootstrap Core Js -->
    <script src="plugins/bootstrap/js/bootstrap.js" th:src="@{/plugins/bootstrap/js/bootstrap.js}"></script>

    <!-- Select Plugin Js -->
    <script src="plugins/bootstrap-select/js/bootstrap-select.js" th:src="@{/plugins/bootstrap-select/js/bootstrap-select.js}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="plugins/jquery-slimscroll/jquery.slimscroll.js" th:src="@{/plugins/jquery-slimscroll/jquery.slimscroll.js}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="plugins/node-waves/waves.js" th:src="@{/plugins/node-waves/waves.js}"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="plugins/jquery-countto/jquery.countTo.js" th:src="@{/plugins/jquery-countto/jquery.countTo.js}"></script>

    <!-- Morris Plugin Js -->
    <script src="plugins/raphael/raphael.min.js" th:src="@{/plugins/raphael/raphael.min.js}"></script>
    <script src="plugins/morrisjs/morris.js" th:src="@{/plugins/morrisjs/morris.js}"></script>

    <!-- ChartJs -->
    <script src="plugins/chartjs/Chart.bundle.js" th:src="@{/plugins/chartjs/Chart.bundle.js}"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="plugins/flot-charts/jquery.flot.js" th:src="@{/plugins/flot-charts/jquery.flot.js}"></script>
    <script src="plugins/flot-charts/jquery.flot.resize.js" th:src="@{/plugins/flot-charts/jquery.flot.resize.js}"></script>
    <script src="plugins/flot-charts/jquery.flot.pie.js" th:src="@{/plugins/flot-charts/jquery.flot.pie.js}"></script>
    <script src="plugins/flot-charts/jquery.flot.categories.js" th:src="@{/plugins/flot-charts/jquery.flot.categories.js}" ></script>
    <script src="plugins/flot-charts/jquery.flot.time.js" th:src="@{/plugins/flot-charts/jquery.flot.time.js}"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="plugins/jquery-sparkline/jquery.sparkline.js" th:src="@{/plugins/jquery-sparkline/jquery.sparkline.js}"></script>

    <!-- Custom Js -->
    <script src="js/admin.js" th:src="@{/js/admin.js}"></script>
    <script src="js/pages/index.js" th:src="@{/js/pages/index.js}"></script>

    <!-- Demo Js -->
    <script src="js/demo.js" th:src="@{/js/demo.js}"></script>
</div>
<div th:fragment="scriptOne">
    <!-- jQuery 2.2.3 -->
    <script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
    <!-- Theme style -->
    <link rel="stylesheet" href="../static/dist/css/AdminLTE.min.css" th:href="@{/dist/css/AdminLTE.min.css}">
    <link rel="stylesheet" href="../static/dist/css/skins/_all-skins.min.css"
          th:href="@{/dist/css/skins/_all-skins.min.css}">
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/alertifyjs/alertify.min.js}"></script>
    <link rel="stylesheet" th:href="@{/alertifyjs/css/alertify.min.css}">
</div>
<div th:fragment="scriptTwo">
    <script src="plugins/jquery/jquery.min.js" th:src="@{/plugins/jquery/jquery.min.js}"></script>

    <!-- Bootstrap Core Js -->
    <script src="plugins/bootstrap/js/bootstrap.js" th:href="@{/plugins/bootstrap/js/bootstrap.js}"></script>

    <!-- Select Plugin Js -->
    <script src="plugins/bootstrap-select/js/bootstrap-select.js" th:src="@{/plugins/bootstrap-select/js/bootstrap-select.js}"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="plugins/jquery-slimscroll/jquery.slimscroll.js" th:src="@{/plugins/jquery-slimscroll/jquery.slimscroll.js}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="plugins/node-waves/waves.js" th:src="@{/plugins/node-waves/waves.js}"></script>
    <!-- Jquery Validation Plugin Css -->
    <script src="../../plugins/jquery-validation/jquery.validate.js" th:src="@{/plugins/jquery-validation/jquery.validate.js}"></script>

    <!-- JQuery Steps Plugin Js -->
    <script src="../../plugins/jquery-steps/jquery.steps.js" th:src="@{/plugins/jquery-steps/jquery.steps.js}"></script>

    <!-- Sweet Alert Plugin Js -->
    <script src="../../plugins/sweetalert/sweetalert.min.js" th:src="@{/plugins/sweetalert/sweetalert.min.js}"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../../plugins/node-waves/waves.js" th:src="@{/plugins/node-waves/waves.js}"></script>

    <!-- Custom Js -->
    <script src="../../js/admin.js" th:src="@{/js/admin.js}"></script>
    <script src="../../js/pages/forms/form-validation.js" th:src="@{/js/pages/forms/form-validation.js}"></script>

    <!-- Demo Js -->
    <script src="../../js/demo.js" th:href="@{/js/demo.js}"></script>
</div>



<div th:fragment="datatablescript">

    <!-- Jquery DataTable Plugin Js -->
    <script src="../../plugins/jquery-datatable/jquery.dataTables.js" th:src="@{/plugins/jquery-datatable/jquery.dataTables.js}"></script>
    <script src="../../plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js" th:src="@{/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js}"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js" th:src="@{/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js}"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/buttons.flash.min.js" th:src="@{/plugins/jquery-datatable/extensions/export/buttons.flash.min.js}"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/jszip.min.js" th:src="@{/plugins/jquery-datatable/extensions/export/jszip.min.js}"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/pdfmake.min.js" th:src="@{/plugins/jquery-datatable/extensions/export/pdfmake.min.js}"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/vfs_fonts.js" th:src="@{/plugins/jquery-datatable/extensions/export/vfs_fonts.js}"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/buttons.html5.min.js" th:src="@{/plugins/jquery-datatable/extensions/export/buttons.html5.min.js}"></script>
    <script src="../../plugins/jquery-datatable/extensions/export/buttons.print.min.js" th:src="@{/plugins/jquery-datatable/extensions/export/buttons.print.min.js}"></script>

    <!-- Custom Js -->
    <script src="../../js/pages/tables/jquery-datatable.js" th:src="@{/js/pages/tables/jquery-datatable.js}"></script>
</div>
</html>